body { 
	margin: 0; 
	font-family: Arial, sans-serif; 
	background-color: #f0f0f0; 
	display: block; 
	justify-content: center; 
	align-items: center; 
	height: 100vh; 
} 

.image-container { 
	position: relative;
	width: 80%; 
	max-width: 600px; 
} 

.image-container img { 
	width: 100%; 
	border-radius: 10px; 
} 

.image-container .overlay-text { 
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	background-color: rgba(0, 0, 0, 0.4); 
	/* Semi-transparent background */ 
	color: #fff; 
	padding: 12px 25px; 
	border-radius: 8px; 
	font-size: 28px; 
	text-align: center; 
	text-shadow: 0 0 8px rgba(255,255,255,0.9);
}